.app{
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 100vw;
    min-height: 100vh;
    padding-bottom: 2rem;
    padding-top: 2rem;
    background-color: #DFDDDD;
}