.jokeCard{
    width: 40rem;
    min-height: 10rem;
    padding: 2rem 1rem 1rem 1rem;
    margin-top: 1.5rem;
    border-radius: 0.5rem;
    background-color: royalblue;
    color: white;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;

    &__category{
        width: 100%;
        text-align: end;
        margin-top: 3rem;
    }

}